/**
 * @file
 * Styles for the "Choose a block" and "Choose a layout" dialogs.
 */

.panopoly-magic-choose-block,
.panopoly-magic-choose-layout-multiple {
  display: flex;
  flex-direction: row;
}

.panopoly-magic-choose-block-categories,
.panopoly-magic-choose-layout-categories {
  width: 16%;
  min-width: 250px;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-list,
.panopoly-magic-choose-layout-multiple .panopoly-magic-choose-layout-list {
  width: 84%;
}

.panopoly-magic-choose-block,
.panopoly-magic-choose-layout {
  background: #FFF;
  padding-top: .5em;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-categories,
.panopoly-magic-choose-layout .panopoly-magic-choose-layout-categories {
  margin: 0;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-categories li,
.panopoly-magic-choose-layout .panopoly-magic-choose-layout-categories li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-category > a,
.panopoly-magic-choose-layout .panopoly-magic-choose-layout-category > a {
  display: block;
  position: relative;
  background: #EAEAEC;
  background-image: linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -o-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -moz-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -ms-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #DBDCDF),
  color-stop(1, #F6F6F7)
  );
  font-weight: bold;
  line-height: 30px;
  color: #5b5b5b;
  text-decoration: none;
  border-bottom: none;
  padding: 0 12px;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-current-category > a,
.panopoly-magic-choose-layout .panopoly-magic-choose-layout-current-category > a {
  border: 1px solid #CECECA;
  border-right: none;
  background: #FFF;
  margin-right: -1px;
  z-index: 1;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-custom > a {
  display: block;
  background: #EAEAEC;
  background-image: linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -o-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -moz-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -ms-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #DBDCDF),
  color-stop(1, #F6F6F7)
  );
  float: none;
  left: 0;
  top: 0;
  width: 85%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 8px 0 0px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
  color: #333;
  padding: 0 8px;
  margin: 1em 1em 0 1em;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-category > a:hover,
.panopoly-magic-choose-block .panopoly-magic-choose-block-category > a:focus,
.panopoly-magic-choose-block .panopoly-magic-choose-block-custom > a:hover,
.panopoly-magic-choose-block .panopoly-magic-choose-block-custom > a:focus,
.panopoly-magic-choose-layout .panopoly-magic-choose-layout-category > a:hover,
.panopoly-magic-choose-layout .panopoly-magic-choose-layout-category > a:focus {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-list,
.panopoly-magic-choose-layout-multiple .panopoly-magic-choose-layout-list {
  border: 1px solid #CECECA;
  padding: 2em;
  position: relative;
  height: 640px;
  overflow: auto;
}

.panopoly-magic-choose-block .panopoly-magic-choose-block-list > p.panopoly-magic-choose-block-description {
  text-align: center;
  color: #5B5B5B;
  width: 100%;
}

/*
 * For disabled and single previews.
 */

.panopoly-magic-choose-block-link-wrapper {
  position: relative;
  padding: 10px 10px;
}
/*
.panopoly-magic-choose-block-use-descriptions .panopoly-magic-choose-block-link-wrapper {
  height: 3em;
}
*/

.panopoly-magic-choose-block-link-description {
  color: #666;
}

.panopoly-magic-choose-block-link-add-link {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}

.panopoly-magic-choose-block-link-add-link > a {
  background: #999;
  padding: 5px 10px;
  opacity: 0;
}
.panopoly-magic-choose-block-link-add-link > a,
.panopoly-magic-choose-block-link-add-link > a:link,
.panopoly-magic-choose-block-link-add-link > a:visited,
.panopoly-magic-choose-block-link-add-link > a:hover,
.panopoly-magic-choose-block-link-add-link > a:focus {
  color: white;
  text-decoration: none;
  border: none;
}
.panopoly-magic-choose-block-link-add-link > a:hover,
.panopoly-magic-choose-block-link-add-link > a:focus {
  background-color: #2fa6e5;
  text-decoration: underline;
}

.panopoly-magic-choose-block-link-wrapper:hover {
  background-color: #f1f1f1;
}
.panopoly-magic-choose-block-link-wrapper:hover .panopoly-magic-choose-block-link-add-link > a,
.panopoly-magic-choose-block-link:focus + .panopoly-magic-choose-block-link-add-link > a,
.panopoly-magic-choose-block-link-add-link > a:focus {
  opacity: 1;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-single .panopoly-magic-choose-block-link-wrapper {
  width: 45%;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-single .panopoly-magic-choose-block-list > .panopoly-magic-single-preview-wrapper {
  float: right;
  width: 45%;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-single .panopoly-magic-choose-block-list .panopoly-magic-preview-wrapper {
  height: 400px;
  overflow: hidden;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-single .panopoly-magic-choose-block-list .panopoly-magic-preview-wrapper > .panopoly-magic-preview-title-wrapper {
  height: 25px;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-single .panopoly-magic-choose-block-list .panopoly-magic-preview-wrapper > .panopoly-magic-preview-inner {
  height: 355px;
  overflow: hidden auto;
}

/*
 * For automatic and manual previews.
 */

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-automatic .panopoly-magic-choose-block-list,
.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-manual .panopoly-magic-choose-block-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-automatic .panopoly-magic-choose-block-list > .panopoly-magic-preview-wrapper,
.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-manual .panopoly-magic-choose-block-list > .panopoly-magic-preview-wrapper {
  width: 45%;
  height: 200px;
  overflow: hidden;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-automatic .panopoly-magic-choose-block-list > .panopoly-magic-preview-wrapper > .panopoly-magic-preview-title-wrapper,
.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-manual .panopoly-magic-choose-block-list > .panopoly-magic-preview-wrapper > .panopoly-magic-preview-title-wrapper {
  height: 25px;
}

.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-automatic .panopoly-magic-choose-block-list > .panopoly-magic-preview-wrapper > .panopoly-magic-preview-inner,
.panopoly-magic-choose-block.panopoly-magic-choose-block-preview-manual .panopoly-magic-choose-block-list > .panopoly-magic-preview-wrapper > .panopoly-magic-preview-inner {
  height: 155px;
  overflow: hidden auto;
}

.panopoly-magic-manual-preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/**
 * For layout lists.
 */

.panopoly-magic-choose-layout-list .layout-selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.panopoly-magic-choose-layout-list ul.layout-selection {
  margin: 0;
}

.panopoly-magic-choose-layout-list .layout-selection > li {
  list-style-type: none;
  text-align: center;
  width: 18%;
  margin: 1em 0;
  padding: 0;
}

.panopoly-magic-choose-layout-list .layout-selection > li > a {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1em;
}

.panopoly-magic-choose-layout-list .layout-selection > li > a:hover,
.panopoly-magic-choose-layout-list .layout-selection > li > a.selected {
  border: 1px dashed black;
}

.panopoly-magic-choose-layout-list .layout-selection > li > a > img {
  margin-left: auto;
  margin-right: auto;
}

