
.view-panopoly-media-browser .pager {
  padding: 20px;
}

.view-panopoly-media-browser .view-content {
  overflow: hidden;
}

.view-panopoly-media-browser .views-row {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  border: 2px solid #b8b8b8;
  transition: .2s;
}

@media screen and (min-width:37.5em) { /* 600px */
  .view-panopoly-media-browser .views-row {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width:62.5em) { /* 1000px */
  .view-panopoly-media-browser .views-row {
    width: 33.333%;
  }
}

.view-panopoly-media-browser .views-row:focus-within {
  border: 2px solid #000000;
}

.view-panopoly-media-browser .views-row.checked {
  border: 2px solid #37802f;
}

.view-panopoly-media-browser .views-row img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.view-panopoly-media-browser .views-row img::selection {
  background: transparent;
}

.view-panopoly-media-browser .views-row .views-field-entity-browser-select {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.view-panopoly-media-browser .views-row:after {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent url("../images/check.svg") no-repeat center center;
  background-size: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.view-panopoly-media-browser .views-row.checked:after {
  background-size: 80px 80px;
}

.media-info {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  padding: 5px 10px;
  color: white;
  text-align: left;
}

.media-info span {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  background-size: 16px 16px;
  margin-right: 4px;
}

.media-info--remote-video {
  background: transparent url("../images/video.svg") no-repeat;
}

.media-info--image {
  background: transparent url("../images/image.svg") no-repeat;
}

input[type="submit"][name="filter"] {
  margin-left: 10px;
  margin-top: 30px;
}
